body, html {margin:0; padding:0; height:100%}
body { padding-top: 53px; background-color: white; }

.main-container
{
    width: 100%;
    min-height: 100%;
    padding: 0;
}
/***principal index****/
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    border-radius: 200px;
    text-align: center;
    background-color: #fffc;
    padding: 141px;
    width: 405px;
    min-height: 409px;
}
.column1: hover{
    background-color: #d5b0fccc;
}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    border-radius: 200px;
    text-align: center;
    background-color: #95e2f6cc;
    padding: 144px;
    width: 409px;
    min-height: 405px;
}
.column2: hover{
    background-color: #d5b0fccc;
}
.p-background
{
    background-image: url("/img/wood-backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    padding-top: 40px !important;
    padding-left: 248px;
    padding-bottom: 109px;
}
.pos{
    position: absolute;
    padding-left: 314px;
}
.sections{
    padding-top: 100px;
}
/***********/
.padd{
	padding-top: 19px;
	padding-left: 44px;
}

.outline{
    min-height: 223px;
    outline: 5px #51c7e5;
    outline-offset: -9px;
    outline-style: dotted;
}
.title-catalogo{
	color: #000;
	font-size: 4em;
	padding: 15px;
	font-family: 'Stalemate', cursive;
}
.product-background{
    background-color: #fefefe00;
    border-radius: 65px;
}
.catalog{
    padding: 60px;
}
.imgCat{
    padding: 4px;
    max-width: 113px;
}
.mail{
    background-color: #51c7e5;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 4%;
    border-radius: 17px;
}
.column{
	width: 50%
	min-height: 50%;
	border-radius: 30px;
}
.footi{
	text-align: center;
	color: black;
	font-weight: bold;
	padding-top: 18px;
}

div label{
    font-family: 'Stalemate';
    font-size: 34px;
    font-weight: lighter;
}
div input{
    background-color: #ffffff4d;
    border: none;
    border-radius: 14px;
	padding: 8px;
	font-size: 13px;
}
.text-c{
	margin: 4px 10px 13px;
	font-size: 21px;
}
.send-btn{
    background-color: #ab2772;
    box-shadow: 2px 3px 3px 1px #3c0d28;
    color: white;
    width: 76%;
    padding: 2%;
    font-weight: bold;
    margin-top: 12px;
}
.contact-contain{
    padding: 52px;
}
.message{
    padding-bottom: 88px;
    padding-right: 98px;
}
.viewAs{
    background-color: #94dff2;
    border-radius: 10px;
    color: #ab2772 !important;
    margin-top: 2px;
}
.back-btn{
    background-color: #ab2772;
    box-shadow: 1px 1px 3px 0px #3c0d28;
    color: white;
    width: 10%;
    padding: 9px;
    font-weight: bold;
    border-radius: 15px;
    border: 0px;
}