body, html {margin:0; padding:0; height:100%}
body { padding-top: 53px; background-color: white; }

.nav-subtitle{
    color: #fdcb05;
    text-shadow: 2px 1px 2px #949696;
}
.division
{
    width: 23%;
    height: 100%;
    min-height: 550px;
	margin-right: 2%;
	background-size: cover;
	background-repeat: no-repeat;
}
.concience-section
{
	background-image: url("/img/cats/concience.jpg");
}
.product-section
{
	background-image: url("/img/cats/tejidos.jpg");
}
.download-section
{
	background-image: url("/img/cats/coloreable.jpg");
}
.game-section
{
	background-image: url("/img/cats/plays.png");
}
.animalCare-section
{
	background-image: url("/img/cuidado/familia.png");
}
.image {
	display: block;
	width: 100%;
	height: auto;
	}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #1be3a3e6;
}

.division:hover .overlay {
	opacity: 0.8;
	cursor: pointer;
}

.title {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.float-r{
	float: right !important;
}
.no-padd{
	padding: 0px !important;
}
.icono{
	width: 42px;
}
.icono-top{
    padding-top: 3px;
}
.nav-right{
    padding-right: 67px;
}
.nav-title{
    color: #0088cb;
    font-family: spinnaker,sans-serif;
    text-shadow: 2px 1px 2px #949696;
}
.nav-title-width{
    width: 30%;
}
.pointer{
	cursor: pointer;
}